<!DOCTYPE html>
<html lang="en">
<head>
  <title>View</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>  
<body style="background-color:lightblue ; text-align: center">  
  
<nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-top: 50px;">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="/static/airtel-logo-white-text-horizontal.jpg" alt="logo" style="width:100px;">
  </a>
    <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/view">Database</a>
    </li>
  </ul>

</nav>

  <h3 style="margin-top: 10px;  text-align: center"> {{tablename}}</h3>
<table class="table  table-hover" style="margin-top: 50px">
  <thead>
    <tr>
      <th>COLUMNS: {{ column }} </th>
    </tr>
  </thead>
    <tbody>
       {% for q in CompleteDet %}        
        <tr>
            <td>ROW :{{ q }}</td>
        </tr>  
      {% endfor %}
    </tbody>
  </table>
</body>  
</html>  